.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 8px 18px;

    font-family: var(--fonte-interface);
    font-size: 15px;
    font-weight: 400;

    border-radius: 999px;
    text-decoration: none;
    cursor: pointer;
}

.btn--primary {
    background-color: var(--cor-destaque);
    color: #fff;
    border: none;
}

.btn--primary:hover {
    color: #fff;
}